@import "../../../styles/base.scss";

.board {
  position: relative;
  background-color: #53c4d1;
  display: inline-block;
  height: 80px;
  width: 160px;
  cursor: pointer;
  border: none;
  padding: 12px;
  border-radius: 4px;
  margin: 5px;
  .board-name {
    @include ellipsis();
    font-weight: 600;
    color: white;
    width: 140px;
    font-size: 16px;
    cursor: inherit;
  }
  .board-options {
    .board-option-delete {
      position: absolute;
      right: 12px;
      bottom: 12px;
      color: #fff;
      &:hover {
        color: #fe7e64;
        transition: color 0.5s ease-out;
      }
    }
  }
  &:hover {
    background-color: #056671;
    transition: background-color 0.5s ease-out;
  }
}
