@import "./base.scss";
@import "../components/common/Card/index.scss";
@import "../components/common/Header/index.scss";
@import "../components/common/Creator/index.scss";
@import "../components/boards/BoardList/index.scss";
@import "../components/boards/BoardCard/index.scss";
@import "../components/columns/Column/index.scss";
@import "../components/columns/ColumnList/index.scss";
@import "../components/tasks/TaskCreator/index.scss";
@import "../components/tasks/TaskList/index.scss";
@import "../components/tasks/Task/index.scss";

body {
  margin: 0;
  font-family: "Montserrat", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  color: black;
}

.textfield {
  @include textfield();
}
