#board-list {
  padding: 20px 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  li {
    list-style: none;
    display: inline-block;
  }
}

#board-empty-list {
  padding: 40px 0;
  text-align: center;
  img {
    width: 300px;
    filter: grayscale(1);
  }
}
