#column-list,
#column-empty-list {
  padding-top: 20px;
}
#column-list {
  padding-left: 0;
  list-style: none;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  height: auto;
}
#column-empty-list {
  padding: 40px 0 20px 0;
  text-align: center;
  img {
    width: 300px;
    filter: grayscale(1);
  }
}
