.board-card {
  display: inline-block;
  .card-options {
    .card-option-delete {
      position: absolute;
      right: 12px;
      bottom: 12px;
      color: #fff;
      &:hover {
        color: #fe7e64;
        transition: color 0.5s ease-out;
      }
    }
  }
  .card {
    .card-title {
      cursor: pointer;
    }
    cursor: pointer;
    &:hover {
      background: linear-gradient(135deg, #77484c 0%, #3c0009 100%);
    }
  }
}
