@import "../../../styles/base.scss";

.card {
  position: relative;
  display: inline-block;
  height: 80px;
  width: 160px;
  border: none;
  padding: 12px;
  border-radius: 4px;
  margin: 8px;
  vertical-align: top;
  .card-title {
    display: block;
    text-align: left;
    margin-bottom: 0;
    font-size: 16px;
    @include ellipsis();
    font-weight: 600;
    color: white;
    width: -webkit-fill-available;
  }
}
.regular {
  background-color: #00c4d1b8;
}
.highlight {
  background-color: $orange-ubeello;
}

.large {
  width: 260px;
  min-height: 100px;
}

@include small() {
  .card {
    width: 140px;
    .card-title {
      font-size: 12px;
    }
  }
}
